<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="/public/vendor/plumes/plumes/plumes.css">
  <link rel="stylesheet" type="text/css" href="/public/web/web.css">
  <link rel="stylesheet" type="text/css" href="/public/web/web-print.css" media="print">

  {{#inject web-favicon}}
    <link rel="icon shortcut" href="/public/web/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/public/web/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/web/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apublic/web/pple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/web/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/web/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/web/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/web/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/web/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/web/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/web/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/web/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/web/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/web/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/public/web/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
  {{/inject}}

  <link rel="manifest" href="/public/web/manifest.json">

  {{#inject web-head /}}
</head>
<body>

  {{#inject web-body-before /}}

  <rv-require
    name="pl-layout-platform"
    src="/public/vendor/plumes/layouts/pl-layout-platform"
    class="web-layout {{modal ? 'modal' : ''}}"

    data-bind-title-showed="titleShowed"
    data-bind-onloaded="onloaded"
    data-bind-beforerequire="beforerequire"
    data-bind-apps="apps"
    data-bind-buttonsleft="buttonsleft"
    data-bind-buttonsright="buttonsright"
  >
    <rv-partial target="message-title">
      <span class="accent">\{{web.brand}}</span>
    </rv-partial>
    <rv-partial target="content">

      <rv-require
        name="web-404"
        src="/public/web/web-404"
        ondemand="web-404"
      ></rv-require>

      {{#inject web-layout /}}

    </rv-partial>
    <rv-partial target="context-left-panels">

      {{#inject web-left-context /}}

    </rv-partial>
    <rv-partial target="context-right-panels">

      {{#inject web-right-context /}}

    </rv-partial>
  </rv-require>

  <div class="start-mask"></div>

  {{#inject web-body-after /}}

  <script type="text/javascript" src="/public/web/web-compact.js"></script>

  {{#inject web-js /}}
</body>
</html>
